/* reset css */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Montserrat", sans-serif;
    color: #552814;
}

/* ------------------------------------classes-gerais---------------------------------------------------------------- */

.container {
    margin: auto;
    max-width: 1200px;
}

.flex {
    display: flex;
}

.cor-de-fundo-da-pagina {
    background-color: #D4C7C3
}


/* ------------------------------------------------------------------------------------------------------ */

.logotipo {
    margin: 10px;
    height: 70px;
    width: 70px;
}


.menu {
    padding: 5px;
    list-style-type: none;
    align-items: center;
    font-size: 16px;
}

header {
    background-color: #EFE3D9;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.9);
    position: fixed;
    z-index: 1;
    width: 100%;
    top: 0px;
    left: 0px;
    height: 100px;
}


.conteudo {
    padding-top: 100px;
}

.menu a {
    text-decoration: none;
    padding: 0 30px 0 0;
    font-size: 16px;
}

.bem-vindo {
    background-color: #D4C7C3;
}

.subtitulo {
    font-size: 20px;
    margin-bottom: 20px;
}

.principal {
    justify-content: center;
    align-items: center;
    padding: 32px;
}

.mulher-com-cachorro {
    margin-left: 70px;
}

.imagem-mulher-cachorro {
    border-radius: 1000px;
}

/* seção adotar eclipse */

.adotar {
    text-align: center;
    padding: 32px;
}

.circulo {
    margin: 25px;
    width: 250px;
    height: 250px;
    background-color: #F7E7DA;
    border-radius: 50%;
    padding: 30px;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: center;
    padding: 15px;
    box-shadow: 0 4px 12px #9E6B50;
}

.titulo-do-circulo {
    font-size: 12px;
    text-align: center;
    padding: 5px;
    margin-bottom: 30px;
}

.imagem-card {
    width: 70px;
    height: 70px;
    border-radius: 10px;
    padding: 3px;
    margin-left: 10px;
    text-align: center;
    background-color: #D4C7C3;
}

.texto-img {
    text-align: center;
    font-size: 12px;
    padding: 10px;
}

.texto-imagem {
    margin-bottom: 15px;
}

.botao-adote-alinhar {
    justify-content: center;
}

.botao {
    width: 82px;
    height: 31px;
    padding: 8px;
    align-items: center;
    margin: 5px;
    border-radius: 8px;
    font-size: 12px;
    color: #F5EDE3;
    background-color: #552814;
    border: #552814;
    cursor: pointer;
}

/* ---------------------------------seção---sobre------------------------------------------------------------------- */

#sobre {
    margin-top: 32px;
    margin-bottom: 30px;
}

#sinalizar {
    padding: 15px;
}

.texto-da-secao-sobre {
    text-align: justify;
    padding: 15px;
}

.secao-video {
    justify-content: center;
    padding: 15px;

}

/* -------------------------seção sinalizar------------------------------------------------------------------- */

.image-sinalizar {
    align-items: flex-end;
    padding: 7px;
    margin-left: 31px;


}

/* classe  gerais para formulario */

.formulario {
    border: #552814 1px solid;
    padding: 28px;
    border-radius: 8px; 
}

.titulo-form {
    font-weight: bold;
    padding: 5px;
}

/* ----------------------------------------------------------------------------------------- */
.elementos-do-form {
    padding: 11px;
}

.caixa-input {
    padding: 6px;
    width: 100%;
    height: 35px;
    border-radius: 8px;
    border: none;
}

.nome-da-caixa {
    display: block;
    margin-bottom: 10px;
}

.descricao-da-caixa {
    width: 100%;
    padding: 10px;
    border-radius: 8px;
    resize: none;
}

#meufile {
    padding: 5px;
}

.radio-option {
    width: 16px;
    height: 16px;
    cursor: pointer;
}

.botao-formulario { 
    justify-content: center;
    padding: 29px;
}

.bnt-form {
    margin: 10px;
}

.opcoes-porte{
    align-items: center;
    gap: 10px;
    
}



.rodape {}