/* reset css */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Montserrat", sans-serif;
    color: #552814;
}

/* ------------------------------------------------------------------------------------------------------ */
/* classes gerais */
.container {
    margin: auto;
    max-width: 1200px;
}

.flex {
    display: flex;
}

/* ------------------------------------------------------------------------------------------------------ */

.logotipo {
    margin: 10px;
    height: 70px;
    width: 70px;
}


.menu {
    padding: 5px;
    list-style-type: none;
    align-items: center;
    font-size: 16px;
}

header {
    background-color: #EFE3D9;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.9);
    position: fixed;
    z-index: 1;
    width: 100%;
    top: 0px;
    left: 0px;
    height: 100px;
}


.conteudo {
    padding-top: 100px;
}

.menu a {
    text-decoration: none;
    padding: 0 30px 0 0;
    font-size: 16px;
}

.bem-vindo {
    background-color: #D4C7C3;
}

.subtitulo {
    font-size: 20px;
    margin-bottom: 20px;
}

.principal {
    justify-content: center;
    align-items: center;
    padding: 32px;
}

.mulher-com-cachorro {
    margin-left: 70px;
}

.imagem-mulher-cachorro {
    border-radius: 1000px;
}

/* seção adotar eclipse */

.adotar {
    text-align: center;
    padding: 32px;
}

.circulo {
    margin: 25px;
    width: 250px;
    height: 250px;
    background-color: #F7E7DA;
    border-radius: 50%;
    padding: 30px;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: center;
    padding: 15px;
    box-shadow: 0 4px 12px #9E6B50;
}

.titulo-do-circulo {
    font-size: 12px;
    text-align: center;
    padding: 5px;
    margin-bottom: 30px;
}

.imagem-card {
    width: 70px;
    height: 70px;
    border-radius: 10px;
    padding: 3px;
    margin-left: 10px;
    text-align: center;
    background-color: #D4C7C3;
}

.texto-img {
    text-align: center;
    font-size: 12px;
    padding: 10px;
}

.texto-imagem {
    margin-bottom: 15px;
}

.botao-adote-alinhar {
    justify-content: center;
}

.botao {
    width: 82px;
    height: 31px;
    padding: 8px;
    align-items: center;
    margin: 5px;
    border-radius: 8px;
    font-size: 12px;
    color: #F5EDE3;
    background-color: #552814;
    border: #552814;
    cursor: pointer;
}


.rodape {}